footer{
    background-color: #000;
}

footer p{
    text-align: center; 

}

footer img{
    width: 32px;
    padding: 5px;        
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -0%);
}

/* Fundo preto no menu superior */
.topNavigator {
    background-color: #333;
    overflow: hidden;
    height: 38px;    
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
/* Links no menu */
.topNavigator a {
    float: right;
    color: #ffffffd8;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;     
}
  
/* Links com o foco do mouse mouse */
.topNavigator a:hover {
      color: #fff;     
}
  
/* Link atual */
.topNavigator a.active {
      font-weight: bold;
      color: #c62447;
}

/* logo menu */
.topNavigator img{
    padding: 10px 20px;
    height: 50%;
}

/* banner */
.backgroundBanner {
    width: 100%;   
    height: 550px;
    object-fit: cover; /* cut image */
    
}

.banner {
    position: relative;    
}

/* topnav */
.marginMenu{
    margin-top: 38px;
}

.blackFBanner {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, 0%);
    width: 35%;
}

/* remove 'white border' */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background-color: #000;
  } 

/* banner pink color: #c62447 */

/* Form section */

.squareBanner {
    margin: 0;
    position:absolute;    
    top: 30%;
    left: 30%;    
    transform: translate(400px, -138px);   

    height: 500px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);   
    border-color: #c62447;
    border-style: solid;
    border-width: 3px;
  }

  #readAndAccept{
      /* font-family: Arial, Helvetica, sans-serif; */ 
      font-weight: 700;     
  }

  .subscribeText{       
         
      font-size: 24px;
  }

  #formArea{     
      text-align: center;
      margin: auto;
      width: 90%;  
      padding: 25% 0;
      margin: auto;
  }

  #checkmark{
      width: 130px;
  }

  #thanks{
      font-size: 24px;
  }
 /* loading */
  @keyframes ldio-ev4eydwonif {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-ev4eydwonif div { box-sizing: border-box!important }
  .ldio-ev4eydwonif > div {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 44px;
    left: 44px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #c62447 transparent #c62447 transparent;
    animation: ldio-ev4eydwonif 1s linear infinite;
  }
  .ldio-ev4eydwonif > div:nth-child(2) { border-color: transparent }
  .ldio-ev4eydwonif > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-ev4eydwonif > div:nth-child(2) div:before, .ldio-ev4eydwonif > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 32px;
    background: #c62447;
    border-radius: 50%;
    box-shadow: 0 96px 0 0 #c62447;
  }
  .ldio-ev4eydwonif > div:nth-child(2) div:after { 
    left: -16px;
    top: 32px;
    box-shadow: 96px 0 0 0 #c62447;
  }
  .loadingio-spinner-dual-ring-sf7qn483d7m {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-ev4eydwonif {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-ev4eydwonif div { box-sizing: content-box; }
  /* generated by https://loading.io/ */